.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #381354;
}

h1 {
    font-family: "Zen Tokyo Zoo", cursive;
    margin-right: 0;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
}
.menu li a {
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
}
.menu li a:hover {
    color: black;
    border-bottom: 2px solid greenyellow;
}
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .active li {
        padding: 1rem 0;
    }
    .active {
        left: 0;
        position: absolute;
        width: 100%;
        top: 38px;
        flex-direction: column;
        background: gray;
        transition: 0.3s;
        padding: 1rem 0;
    }
}
