.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

h1 {
    font-family: "Zen Tokyo Zoo", cursive;
    margin-right: 0;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
}
.menu li a {
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
}
.menu li a:hover {
    color: black;
    border-bottom: 2px solid greenyellow;
}
@media only screen and (max-width: 768px) {
    .menu {
        position: absolute;
        left: -100%;
        width: 100%;
        top: 5rem;
        flex-direction: column;
        background: gray;
        transition: 0.3s;
        padding: 1rem 0;
    }
    .menu li {
        padding: 1rem 0;
    }
    .menu.active {
        left: 0;
    }
}
