.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 0;
    width: 40%;
}
.box {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}
.box:hover {
    color: blueviolet;
}
.box h3 {
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    .diva {
        height: 50vh;
        margin: 8px;
    }
    .contain {
        width: 100%;
    }
}
